*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 50px;
    color: whitesmoke;
}
.logo{
    width: 300px;
    height: 250px;
    margin-top: -90px;
}
nav{
    position: fixed;
    margin-top: 30px;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    justify-content: flex-end; /* aligns links to the right */
    gap: 20px;                 
    width: 100%;
    right: 40px;
    top: 0;
    padding: 10px 20px; 
}
a{
    text-decoration: none;  
    color: whitesmoke;  
    padding-bottom: 5px;       /* space for the underline */
    border-bottom: 2px solid transparent; /* invisible by default */
    transition: border-color 0.3s ease;   /* smooth effect */  
}
a:hover,
a:focus,
a:active {
    border-bottom: 2px solid #ff5757; /* pink underline on hover/click */
}
nav a.active {
  border-bottom: 2px solid #ff5757; /* keep pink underline on the active page */
}
.portifolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.vid{
    padding: 20px 0;
}
.sub-title{
    margin-top: -90px;
}
.fas {
    font-size: 40px; /* or whatever size you want */
    color: whitesmoke; /* optional */
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}